.TaskList {
    ul{
        li{
            width: 500px;
            left: 448px;
            top: 362px;
            color: #F4F4F4;
            font-size: 24px;
            line-height: 30px;
            margin-top: 20px;
            display: flex;
        }
    }
}

.TaskList{
    ul{
        list-style-type:none
    }
}

.TaskList{
    margin: 0px 150px 0px 400px;
}

.TaskList {
    ul{
        li{
            div{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.taskList-Button{
    margin-left: 70px;
    width: 200px
}

.taskList-task {
    width: 120px;
}

.taskList-button-svg{
    width: 36px;
    height: 35px;
    left: 815px;
    top: 380px;
    background: #40BAD5;
    border: 1px solid #F4F4F4;
    border-radius: 50%;
}

.taskList-svg {
    // position: absolute;
    width: 20px;
    height: 26.05px;
    left: 816.67px;
    top: 384.07px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F4F4F4;
    
}


